* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #4d4a4a;
    height: 100%;
    min-height: 100vh;
    margin: 0 1rem;
    display: flex;
    flex-flow: column;
}

header {
    margin-top: 20px;
    padding: 10px 30px;
}

header h1 {
    font-family: 'Roboto', Verdana, sans-serif;
    font-size: 40px;
    font-weight: 800;
}

main {
    height: 100%;
}

footer {
    margin-top: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal 20px/40px 'Roboto', Verdana, sans-serif;
}
.copyright {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}
.copyright a {
    transition: 0.25s;
    color: #ffffff;
}
.copyright a:hover {
    color: #bdae82;
}
.copyright:before {
    content: '© ';
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    gap: 80px;
}

.footer-data {
    display: flex;
    gap: 10px;
    color: #ffffff;
    align-self: center;
    margin-right: auto;
}

.github-link {
    transition: 0.25s;
    color: #ffffff;
}

.github-link:hover {
    color: #bdae82;
}

.rss-logo {
    background: url('https://rs.school/images/rs_school_js.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.25s;
    height: 50px;
    cursor: pointer;
    width: 135px;
}

.rss-logo:hover {
    filter: invert(16%) sepia(45%) saturate(438%) hue-rotate(7deg) brightness(52%) contrast(77%);
}

@media (max-width: 800px) {
    .footer-container {
        gap: 20px;
    }
}

@media (max-width: 640px) {
    footer {
        height: unset;
    }

    .footer-container {
        flex-direction: column;
        gap: 0;
    }
}