.main {
  display: flex;
  flex-grow: 1;
  width: 100%;

  .darken {
    display: none;

    &.open {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 7;
      display: block;
      width: 100vw;
      height: 100vh;
      background-color: #29292999;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s all;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all;

    .no-more-buy {
      font: normal normal 30px/30px sans-serif;
      text-align: center;
      text-transform: uppercase;
    }

    &.open {
      visibility: visible;
      opacity: 1;
    }

    &.open ~ .darken.open {
      visibility: visible;
      opacity: 1;
    }
  }
}

.main-container {
  display: flex;
}
