.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: calc(100% - 250px);
  height: 100%;
  padding: 20px;
  background-color: aqua;

  .no-results {
    display: none;
    font: normal normal 25px/30px sans-serif;
    text-transform: uppercase;
  }
}
