.values-filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .filter-name {
    font: normal normal 18px/23px sans-serif;
    text-transform: uppercase;
  }

  .values-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .label {
      display: flex;
      gap: 5px;
      width: 30%;

      .checkbox {
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 2px;
        appearance: none;
      }

      .checkbox:checked {
        background-color: #27b93f;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    .wheels-label,
    .frame-label {
      width: 21%;
    }

    .color-label,
    .category-label {
      width: 47%;
    }

    .popular-label {
      width: 100%;
      font: normal normal 18px/24px sans-serif;
      text-transform: uppercase;
    }
  }
}
