.values-filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .filter-name {
    font: normal normal 18px/23px sans-serif;
    text-transform: uppercase;
  }

  .values-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .label {
      display: flex;
      gap: 5px;
      width: 30%;

      input[type="checkbox"] {
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 2px;
        appearance: none;
      }
    }

    .wheels-label,
    .frame-label {
      width: 21%;
    }

    .color-label,
    .category-label {
      width: 47%;
    }

    .popular-label {
      width: 100%;
      font: normal normal 18px/24px sans-serif;
      text-transform: uppercase;
    }
  }
}
