@use "./header.scss";
@use "./garageView.scss";
@use "./garage.scss";
@use "./buttons.scss";
@use "./winnersView.scss";
@use "./footer.scss";

:root {
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #a8a8cc;
  font: normal normal 16px/20px sans-serif;
}

.container {
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;

  .view-switch {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
}
