:root {
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #a8a8cc;
  font: normal normal 16px/20px sans-serif;
}

.container {
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
  background-color: #1c1c24;

  .header-container {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 5px 20px;
  
    .header-logo {
      width: 50px;
      height: 50px;
      background: url("../assets/svg/logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      transition: 1s;
  
      &:hover {
        filter: brightness(0) saturate(100%) invert(35%) sepia(31%) saturate(473%)
          hue-rotate(201deg) brightness(98%) contrast(92%);
      }
    }
  
    .header-name {
      color: var(--color-white);
      font: normal normal 30px/50px Roboto, Verdana, sans-serif;
    }
  }
}

.main {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;

  .view-switch {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }

  .garage-view {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    .controls {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 300px;

      .create-car,
      .update-car {
        display: flex;
        gap: 5px;

        .text-input,
        .color-input {
          border: none;
          border-radius: 3px;
        }

        .text-input {
          outline: none;
          padding: 0 5px;
        }

        .color-input {
          cursor: pointer;
        }

        .button {
          flex-grow: 1;
        }
      }

      .control-buttons {
        display: flex;
        gap: 5px;
        .button {
          flex-grow: 1;
        }
      }
    }

    .garage {
      display: flex;
      flex-direction: column;
      gap: 5px;
      height: 100%;

      .track {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;

        .car-path {
          display: flex;
          flex-direction: column;
          gap: 5px;
          border-bottom: 2px dashed #1c1c24;

          .car-controls {
            display: flex;
            gap: 5px;

            .car-name {
              line-height: 27px;
              font-weight: bold;
            }
          }

          .path {
            display: flex;
            gap: 5px;
            height: 40px;

            .start-button {
              border: 2px green solid;
              color: green;
            }

            .stop-button {
              border: 2px red solid;
              color: red;
            }

            .car-image,
            .finish-image {
              height: 40px;
              width: auto;
            }

            .finish-image {
              margin-left: auto;
              padding-right: 160px;
            }
          }
        }
      }
    }
  }

  .winners-view {
    height: 100%;

    .winners {      
      height: 45%;
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      .winners-table {
        text-align: center;
        align-self: flex-start;

        .table-head {
          .name {
            width: 230px;
          }

          .wins-sort,
          .time-sort {
            cursor: pointer;

            &.asc::after {
              content: '↑';
            }

            &.desc::after {
              content: '↓';
            }
          }

          .wins-sort {
            width: 60px;
          }
        }

        .winner-line {
          .td-car {
            .car-image {
              height: 20px;
              width: auto;
            }
          }
        }
      }
    }
  }
}

.button {
  padding: 3px;
  height: 27px;
  background-color: #ffb18c;
  min-width: 60px;
  border: none;
  border-radius: 3px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    background-color: #ffc477;

    &:disabled {
      background-color: #ffb18c;
    }
  }
}

.start-button,
.stop-button {
  min-width: 27px;
  background-color: unset;

  &:disabled{
    &:hover {
      background-color: unset;
    }
  }

  &:hover {
    background-color: #ffc477;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1c24;

  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;

    .footer-data {
      display: flex;
      gap: 20px;
      align-self: center;
      margin-right: auto;
      color: var(--color-white);
      font: normal normal 20px/40px Roboto, Verdana, sans-serif;

      .github-link {
        color: var(--color-white);
        text-decoration: none;
        transition: 1s;

        &:hover {
          color: #5959a8;
        }
      }
    }

    .rss-logo {
      width: 109px;
      height: 40px;
      background: url("../assets/svg/rss.svg");
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      transition: 1s;

      &:hover {
        filter: brightness(0) saturate(100%) invert(35%) sepia(31%) saturate(473%)
          hue-rotate(201deg) brightness(98%) contrast(92%);
      }
    }
  }
}
