.winners-view {
  height: 100%;

  .winners {      
    height: 410px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .winners-table {
      text-align: center;
      align-self: flex-start;
      border-spacing: 0;

      .table-head {
        background-color: #5959a8;

        .head-cell {
          padding: 3px 5px;
        }

        .name {
          width: 230px;
        }

        .wins-sort,
        .time-sort {
          cursor: pointer;

          &.asc::after {
            content: '↑';
          }

          &.desc::after {
            content: '↓';
          }
        }

        .wins-sort {
          width: 60px;
        }

        .time-sort {
          width: 95px;
        }
      }

      .winner-line {
        & > * {
          padding-top: 3px;
        }

        .td-car {
          .car-image {
            height: 20px;
            width: auto;
          }
        }
      }
    }
  }
}
