* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-flow: column;
    font: normal 15px/24px Arial, sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

.title {
    font: normal 35px/45.5px Georgia, serif;
    letter-spacing: 0.06em;
}

.header-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    display: flex;
    padding: 60px 40px;
    align-items: center;
    color: #FFFFFF;
    font: normal 13px/15px Arial, sans-serif;

    .logo {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 10px;
        margin-right: auto;

        .title {
            margin: 0;
            font: normal 32px/35.2px Georgia, serif;
            letter-spacing: 0.06em;
        }

        .subtitle {
            letter-spacing: 0.1em;
        }
    }

    .nav {
        .nav-list {
            display: flex;
            gap: 36px;
            align-items: center;
            list-style: none;
        }

        .nav-link {
            text-decoration: none;
            color: #CDCDCD;
            font-size: 15px;
            line-height: 24px;
        }
    }
}

.main-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.section {
    padding: 80px 0 100px;
}

.round-button {
    height: 52px;
    width: 52px;
    background-color: #FFFFFF;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
}

.pets-button {
    font: normal 17px/22px Georgia, serif;
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
    padding: 15px 45px;
    border-radius: 100px;
    cursor: pointer;
    letter-spacing: 0.06em;
}

.footer {
    background: url('../../assets/images/noise.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) , #211F20;
}

.footer-container {
    display: flex;
    gap: 160px;
    padding: 40px 40px 0;

    .contacts-title,
    .locations-title {
        font: normal 35px/45.5px Georgia, serif;
        color: #FFFFFF;
        letter-spacing: 0.06em;
    }

    .contacts {
        padding-top: 20px;
        max-width: 280px;
        display: flex;
        flex-flow: column;
        gap: 40px;

        .e-mail, .tel {
            font: normal 20px/23px Georgia, serif;
            letter-spacing: 0.06em;
            color: #F1CDB3;
        }
    }

    .locations {
        padding-top: 16px;
        max-width: 302px;
        display: flex;
        flex-flow: column;
        gap: 33px;
        .location {
            font: normal 20px/23px Georgia, serif;
            letter-spacing: 0.06em;
            color: #F1CDB3;
        }
    }
}