@charset "UTF-8";
/* Connect fonts as they not available in Linux/OS X */
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column;
  color: #545454;
}
body.open {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

.wrapper {
  margin: 0 auto;
}

.title {
  margin: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 25px;
    text-align: center;
  }
}

.header-container {
  display: flex;
  align-items: center;
  padding: 60px 40px;
}
.header-container .logo {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
  margin-right: auto;
  transition: 0.5s all;
}
.header-container .logo .title {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.header-container .logo .subtitle {
  color: #FFFFFF;
  font: normal 400 13px/15px "Arial", sans-serif;
  letter-spacing: 0.1em;
}
.header-container .logo.open {
  z-index: 100;
  margin-left: calc(100vw - 320px);
}
.header-container .nav {
  margin-top: -4px;
}
.header-container .nav .nav-list {
  display: flex;
  align-items: center;
  gap: 36px;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .header-container .nav .nav-list {
    flex-flow: column;
    gap: 41px;
  }
}
.header-container .nav .nav-item {
  white-space: nowrap;
}
.header-container .nav .nav-link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  transition: color 0.5s;
}
.header-container .nav .nav-link.active {
  padding-bottom: 4px;
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}
.header-container .nav .nav-link.active:hover {
  border: 0;
}
.header-container .nav .nav-link:hover {
  color: #FAFAFA;
}
@media screen and (max-width: 767px) {
  .header-container .nav .nav-link {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .header-container .nav {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 50;
    height: 100vh;
    width: 0;
    transition: all 0.5s;
    background-color: #292929;
  }
  .header-container .nav.open {
    visibility: visible;
    width: 320px;
  }
  .header-container .nav.open ~ .darken {
    visibility: visible;
    opacity: 1;
  }
}
.header-container .darken {
  display: none;
}
@media screen and (max-width: 767px) {
  .header-container .darken {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100vw;
    height: 100vh;
    background-color: rgba(41, 41, 41, 0.6);
    visibility: hidden;
    transition: 0.5s all;
    opacity: 0;
  }
}
.header-container .hamburger {
  display: none;
  width: 30px;
  height: 22px;
  z-index: 100;
  transition: 0.5s all;
}
@media screen and (max-width: 767px) {
  .header-container .hamburger {
    display: flex;
    position: relative;
    flex-flow: column;
    justify-content: space-between;
  }
  .header-container .hamburger .line {
    width: 30px;
    height: 2px;
    background: #F1CDB3;
    display: block;
    transition: all 0.5s ease-in-out;
  }
  .header-container .hamburger:hover {
    cursor: pointer;
  }
  .header-container .hamburger.open {
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 1279px) {
  .header-container {
    padding: 30px;
  }
}
@media screen and (max-width: 767px) {
  .header-container {
    gap: unset;
    padding: 30px 53px 30px 10px;
  }
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.pets-section {
  width: 100%;
}
.pets-section .wrapper {
  background-color: #F6F6F6;
}

.pets-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 40px 100px;
}
.pets-container .pets-title {
  max-width: 400px;
  text-align: center;
}
.pets-container .popup {
  display: flex;
  position: fixed;
  top: 50%;
  height: auto;
  left: auto;
  right: auto;
  transform: translateY(-50%);
  background-color: #FAFAFA;
  z-index: 100;
  border-radius: 9px;
  color: #000000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all;
}
.pets-container .popup .popup-pet-image {
  max-width: 500px;
  width: 500px;
  border-radius: 9px;
}
@media screen and (max-width: 1279px) {
  .pets-container .popup .popup-pet-image {
    max-width: 350px;
  }
}
@media screen and (max-width: 767px) {
  .pets-container .popup .popup-pet-image {
    display: none;
  }
}
.pets-container .popup .popup-info {
  display: flex;
  flex-flow: column;
  padding: 50px 20px 90px 30px;
  gap: 40px;
  max-width: 400px;
}
.pets-container .popup .popup-info .popup-title {
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.pets-container .popup .popup-info .popup-title .popup-pet-name {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .pets-container .popup .popup-info .popup-title .popup-pet-name {
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .pets-container .popup .popup-info .popup-title .popup-pet-name {
    font-size: 35px;
  }
}
.pets-container .popup .popup-info .popup-title .popup-pet-typebreed {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .pets-container .popup .popup-info .popup-title .popup-pet-typebreed {
    align-self: center;
  }
}
.pets-container .popup .popup-info .popup-pet-description {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  line-height: 17px;
}
@media screen and (max-width: 1279px) {
  .pets-container .popup .popup-info .popup-pet-description {
    font-size: 13px;
    line-height: 14px;
  }
}
@media screen and (max-width: 767px) {
  .pets-container .popup .popup-info .popup-pet-description {
    margin-top: 1px;
    text-align: justify;
  }
}
.pets-container .popup .popup-info .popup-add-info {
  padding-left: 15px;
  display: flex;
  flex-flow: column;
  gap: 11px;
  list-style: none;
}
.pets-container .popup .popup-info .popup-add-info-line {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  line-height: 17px;
}
.pets-container .popup .popup-info .popup-add-info-line::before {
  content: "•";
  color: #F1CDB3;
  font-weight: 700;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.pets-container .popup .popup-info .popup-add-info-line .bold {
  font-weight: 700;
  letter-spacing: 0.13em;
}
@media screen and (max-width: 1279px) {
  .pets-container .popup .popup-info .popup-add-info {
    gap: 6px;
  }
}
@media screen and (max-width: 767px) {
  .pets-container .popup .popup-info .popup-add-info {
    padding-top: 5px;
  }
}
@media screen and (max-width: 1279px) {
  .pets-container .popup .popup-info {
    padding: 10px 9px 37px 10px;
    max-width: 280px;
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .pets-container .popup .popup-info {
    padding: 10px;
    max-width: 240px;
    gap: 20px;
  }
}
.pets-container .popup.open {
  visibility: visible;
  opacity: 1;
}
.pets-container .popup.open ~ .darken.open {
  visibility: visible;
  opacity: 1;
}
.pets-container .popup .button-close {
  position: absolute;
  right: -42px;
  top: -52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 52px;
  background-color: rgba(123, 123, 123, 0.4);
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: all 0.5s;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}
.pets-container .popup .button-close:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
@media screen and (max-width: 767px) {
  .pets-container .popup .button-close {
    right: -30px;
  }
}
.pets-container .popup:not(:hover) .button-close {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
.pets-container .darken {
  display: none;
}
.pets-container .darken.open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  visibility: hidden;
  transition: 0.5s all;
  opacity: 0;
}
.pets-container .darken.open:hover {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .pets-container {
    padding: 42px 10px;
    gap: 42px;
  }
}

.pets-cards {
  display: flex;
}
.pets-cards .pets-card {
  max-width: 270px;
  background-color: #FAFAFA;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 9px;
  gap: 30px;
  transition: all 0.5s;
  cursor: pointer;
}
.pets-cards .pets-card-title {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets-cards .pets-card .pets-button {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #F1CDB3;
  background-color: inherit;
  padding: 13px 43px;
  border-radius: 100px;
  cursor: pointer;
  margin: 0;
  transition: all 0.5s;
  margin-bottom: 30px;
}
.pets-cards .pets-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}
.pets-cards .pets-card:hover .pets-button {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.navigation-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 52px;
  background-color: inherit;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: all 0.5s;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}
.navigation-button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.footer {
  background: url("../../assets/images/noise.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 159px;
  padding: 40px 40px 0;
}
.footer-container .contacts-title,
.footer-container .locations-title {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .footer-container .contacts-title,
.footer-container .locations-title {
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .footer-container .contacts-title,
.footer-container .locations-title {
    padding: 0 10px;
  }
}
.footer-container .info.e-mail-info {
  margin-top: -3px;
  background-image: url("../../assets/icons/mail.svg");
  height: 32px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 40px 32px;
}
.footer-container .info.tel-info {
  margin-top: -2px;
  background-image: url("../../assets/icons/phone.svg");
  height: 32px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 40px 32px;
}
.footer-container .info.location-info {
  display: flex;
  align-items: center;
}
.footer-container .info.location-info .location-info-image {
  width: 40px;
  background-image: url("../../assets/icons/pin.svg");
  height: 32px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: "22px 32px";
}
.footer-container .contacts {
  padding-top: 16px;
  max-width: 280px;
  display: flex;
  flex-flow: column;
  gap: 42px;
}
.footer-container .contacts .e-mail,
.footer-container .contacts .tel {
  padding-left: 60px;
  padding-top: 5px;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
@media screen and (max-width: 767px) {
  .footer-container .contacts {
    align-items: center;
  }
}
.footer-container .locations {
  padding-top: 16px;
  max-width: 302px;
  display: flex;
  flex-flow: column;
  gap: 33px;
}
.footer-container .locations .location {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer-container .locations .location.boston {
  display: flex;
  flex-flow: column;
}
@media screen and (max-width: 767px) {
  .footer-container .locations {
    padding-top: 0;
    gap: 40px;
  }
}
@media screen and (max-width: 1279px) {
  .footer-container {
    gap: 63px calc(19.4% - 73px);
    justify-content: center;
    padding-top: 15px;
  }
}
@media screen and (max-width: 767px) {
  .footer-container {
    flex-flow: column;
    align-items: center;
    gap: 40px;
    padding: 13px 10px 0;
  }
  .footer-container .footer-puppy {
    max-width: 300px;
    width: 100%;
    padding: 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
