* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-flow: column;
    font: normal 15px/24px Arial, sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

.title {
    font: normal 35px/45.5px Georgia, serif;
    letter-spacing: 0.06em;
}

.header-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    display: flex;
    padding: 60px 40px;
    align-items: center;
    color: #FFFFFF;
    font: normal 13px/15px Arial, sans-serif;

    .logo {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 10px;
        margin-right: auto;

        .title {
            margin: 0;
            font: normal 32px/35.2px Georgia, serif;
            letter-spacing: 0.06em;
        }

        .subtitle {
            letter-spacing: 0.1em;
        }
    }

    .nav {
        .nav-list {
            display: flex;
            gap: 36px;
            align-items: center;
            list-style: none;
        }

        .nav-link {
            text-decoration: none;
            color: #CDCDCD;
            font-size: 15px;
            line-height: 24px;
        }
    }
}

.main-container {
    display: flex;
    flex-flow: column;
    gap: 80px;
    padding-top: 80px;
    align-items: center;
}
