:root {
  --color-white: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
  background-color: #1c1c24;
}

.header-container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.store-logo {
  width: 60px;
  height: 60px;
  background: url("../../../assets/svg/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: 1s;
}

.store-name {
  color: var(--color-white);
  font: normal normal 30px/50px Roboto, Verdana, sans-serif;
}

.store-cart {
  position: relative;
  width: 60px;
  height: 60px;
  margin-left: auto;
  background: url("../../../assets/svg/cart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: 1s;

  &-count {
    position: absolute;
    top: 5%;
    left: 45%;
    z-index: 5;
    display: flex;
    justify-content: center;
    width: 30px;
    font: normal normal 20px/30px Roboto, Verdana, sans-serif;
    background-color: #040a0a;
    border-radius: 50%;
    transform: translateX(-55%);
  }
}

.store-logo:hover {
  filter: brightness(0) saturate(100%) invert(35%) sepia(31%) saturate(473%)
    hue-rotate(201deg) brightness(98%) contrast(92%);
}
